body {
    position: absolute;
    
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    margin: 0;
    border: 0;
    padding: 0;
    
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-flow: column nowrap;
}

#title {
    order: 1;
    flex: 0 0 auto;
}

.subtitle {
    order: 2;
    flex: 0 0 auto;
}

#content {
    order: 3;
    flex: 1;
    
    display: flex;
    flex-flow: column nowrap;
}

#photo {
    order: 1;
    flex: 1;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    
    overflow: auto;
}

.thin {
    margin: auto;
    width: 50%;
}

@media (max-width: 1000px) {
    .thin {
        margin: 0;
        width: 100%;
    }
}

#footer {
    order: 2;
    flex: 0 0 auto;
    
    display: flex;
    flex-flow: row nowrap;
}

@media (max-height: 500px) {
    #content {
        flex-direction: row;
    }
    
    #footer {
        order: 1;
        flex-direction: column;
        width: 200px;
    }
    
    #photo {
        order: 2;
    }
}

.subfooter {
    order: 1;
    flex: 1;
}

.img {
    order: 1;
    flex: 0 0 auto;
    
    height: 400px;
    width: 400px;
}

img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

div {
    text-align: center;
    border: 1px solid black;
}